<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bw-runtime">
<locations>

<location path="/C:/tibco610/bw6.10/bw/palettes/adb/8.6//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco610/bw6.10/bw/palettes/adb/8.6//runtime/plugins" type="Directory"/>
<location path="/C:/tibco610/bw6.10/bw/palettes/excel/6.1//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco610/bw6.10/bw/palettes/excel/6.1//runtime/plugins" type="Directory"/>
<location path="/C:/tibco610/bw6.10/bw/palettes/kafka/6.8//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco610/bw6.10/bw/palettes/kafka/6.8//runtime/plugins" type="Directory"/>
<location path="/C:/tibco610/bw6.10/bw/palettes/PSGLog/2.1//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco610/bw6.10/bw/palettes/PSGLog/2.1//runtime/plugins" type="Directory"/>


<location path="C:/tibco610/bw6.10/bw/6.10/system/hotfix/lib/common" type="Directory"/>
<location path="C:/tibco610/bw6.10/bw/6.10/system/lib/common" type="Directory"/>

<location path="C:/tibco610/bw6.10/bw/6.10/system/hotfix/palettes" type="Directory"/>
<location path="C:/tibco610/bw6.10/bw/6.10/system/palettes" type="Directory"/>

<location path="C:/tibco610/bw6.10/bw/6.10/system/hotfix/shared" type="Directory"/>
<location path="C:/tibco610/bw6.10/bw/6.10/system/shared" type="Profile"/>
</locations>
</target>
